<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <style>
      li{
          margin-left:5px;
          margin-right:5px;
      }
  </style>
<body>
<div class="navbar" style="width:100%">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Job Portal System</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a class="btn" href="#">Home</a></li>
            <li class="btn-success"><a style="color:white" href="jobs">Jobs</a></li>
            <li class="btn-danger"><a style="color:white" href="login">Login</a></li>
            <li class="btn-warning"><a style="color:white" href="company-signup">Company Registration</a></li>
            <li class="btn-primary"><a style="color:white" href="jobseeker-signup">Job Seeker Registration</a></li>
          </ul>
        </div>
      </nav>
</div>
<div>
{{!-- <img class="homeimg" src="home.png" /> --}}
<h2>Hello everyone! We are group 10 and our idea for the final project is to build an online job portal. It is a simple web application wherein companies update if there any job vacancies on the website and the end user, that is the candidate in our case, can look for those vacancies once they register onto our website.</h2>
<br>
<h3>You can head on to the jobs page to find all the jobs that are currently listed by all the companies</h3>
<br>
<h2>and then,</h2>
<br>
<h3>head on to the sign up portal, so you can apply for those jobs and give a relevant feedback to the company that listed the job that you applied for.</h3>
<br>
<br>
<h2>Happy Networking!!</h2>
</div>
</body>