<head>
    <meta charset="utf-8" />
    <title>Log In</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/site.css" /> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
     li{
          margin-left:5px;
          margin-right:5px;
      }
      input{
        color:black;
      }
    </style>
  </head>
<body>
    <div class="navbar" style="width:100%">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Job Portal System</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a class="btn" href="/">Home</a></li>
                <li class="btn-success"><a style="color:white" href="jobs">Jobs</a></li>
                <li class="btn-danger"><a style="color:white" href="login">Login</a></li>
                <li class="btn-warning"><a style="color:white" href="company-signup">Company Registration</a></li>
                <li class="btn-primary"><a style="color:white" href="jobseeker-signup">Job Seeker Registration</a></li>
              </ul>
            </div>
          </nav>
    </div>
    <div  class="body-center" style="width:100%">   
         <form class="form" id="login-form" method="POST" action="/login">
        <h1>Log In Form</h1> 
        <h2 class="error">{{error}}</h2>
        <label>Email : </label>
        <input class="input-field" type="text" id="email" name="email" value="{{email}}" placeholder="email"/>
        <label>Password : </label>
        <input class="input-field" type="password" id="password" name="password" placeholder="password"/>
        <input type="submit" value="Log In" />
        <a class="a" href="/company-signup">Company Registration ? Click here to sign-up
        </a>
        <br/>
        <a class="a" href="/jobseeker-signup">Job Seeker Registration ? Click here to sign-up
        </a>
    </form>
</div>
</body>