<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="/site.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="client.js"></script>
</head>

<body class="body-center">
    <form class="form" id="signup-form" encType="multipart/form-data" method="POST" action="/signup">
        <h1>Company Sign Up</h1>
        <h2 class="error">{{error}}</h2>
        <label>Full Name : </label>
        <input type="text" id="fullname" name="fullname" value="{{fullname}}" placeholder="Full Name" />
        <label>Contact No : </label>
        <input type="text" id="contactno" name="contactno" value="{{contactno}}" placeholder="Contact No : xxx-xxx-xxxx" />
        <label>Address : </label>
        <input id="address" name="address" value="{{address}}" placeholder="Address" />
        <label>Email : </label>
        <input type="email" id="email" name="email" value="{{email}}" placeholder="Email" />
        <!--
        <label>Education : </label>
        <select id="education" name="education" value="{{education}}">
            <option value=""></option>
            <option value="SSC">SSC</option>
            <option value="HSC">HSC</option>
            <option value="Graduate">Graduate</option>
            <option value="Post Graduate">Post Graduate</option>
            <option value="PHD">PHD</option>
        </select>
        -->
        <input type="hidden" id="education" name="education" value="" />
        <!--
        <label>Resume : </label>
        <input type="file" name="resume">
        -->
        <label>Logo : </label>
        <img id="blah" src="" style="border-radius: 50%; border: 4px solid black;size: 50px;height:100px; width:100px" />
        <input id="logo" type="file" onchange="getBase64(this)" name="logo">
        <label>Password : </label>
        <input type="password" id="password" name="password" value="{{password}}" placeholder="Password" />
        <!--
        <label>Who are you ? : </label>
        <select id="roletype" name="roletype">
            <option value=""></option>
            <option value="company">Company</option>
            <option value="jobseeker">Job Seeker</option>
        </select>
        -->
        <input type="hidden" id="roletype" name="roletype" value="company" />
        <input type="submit" value="Sign Up" />
        <a href="/login">
            Already have an account? Click here to log-in
        </a>
    </form>
</body>

</html>