body {
    background-color:#eee;
    font-family: Cambria, "Times New Roman", Times, serif;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    text-align: center;
}
img {
    opacity: 0.5;
  }
.body-center{
    display: flex;
    justify-content: center;
}

.network{

}

.form, .private {
    display: flex;
    padding:5%;
    width:30%;
    flex-direction: column;
}

.form, input[type="submit"], .main {
    background: linear-gradient(to left, #4776E6, #8e54e9);
    color: white;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border:0;
}

input[type="submit"], .user{
    background: linear-gradient(to right, #e64747, #e9df54);
    padding:10px;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 5px white;
    cursor: pointer;
}

label{
    margin:10px;
}

input{
    min-height:20px;
}

.error{
    color:gold;
    text-shadow: 1px 1px 1px 1px black;
}

a{
    background:white;
    border-radius: 4px;
    padding:10px;
    box-shadow: 1px 1px 10px px black;
    text-decoration: none;
    font-size: small;
}

.a {
    background:white;
    border-radius: 4px;
    padding:10px;
    box-shadow: 1px 1px 10px px black;
    text-decoration: none;
    font-size: small;
}

#blah, #pblah{
    display:none;
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 1px solid black;
}

.homeimg{
    height:60vh;
    width:60%;
}